.app-header {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.app-header h1 {
  font-size: 20px;
}

.app-main {
  border-top: 1px solid #ccc;
}
.app-input-wrap {
  background-color: #f0f0f0;
}
.app-input-wrap .app-input-box {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.app-input-wrap .app-input-box .app-input-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.app-input-wrap .app-input-box .app-input-inner .app-input {
  display: flex;
  align-items: center;
  gap: 5px;
}
.app-input-wrap .app-input-box .app-input-inner .app-input label {
  width: 40px;
  font-weight: bold;
}
.app-input-wrap .app-input-box .app-input-inner .app-input input {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
.app-input-wrap .app-input-box .app-button-inner button {
  border: 0;
  outline: none;
  background-color: rgb(108, 108, 255);
  color: #fff;
  width: 100px;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}
.app-reulst-box {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}
.app-reulst-box .app-result-inner {
  display: flex;
  flex-direction: column;
}
.app-reulst-box .app-result-inner h2 {
}
.app-reulst-box .app-result-inner .app-result {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.app-reulst-box .app-result-inner .app-result .app-box {
  width: 300px;
  border: 5px solid #e40a41;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.app-reulst-box .app-result-inner .app-result .app-box h3 {
}
.app-reulst-box .app-result-inner .app-result .app-box .todo-body {
}
.app-reulst-box .app-result-inner .app-result .app-box .btn-wrap {
  display: flex;
  gap: 10px;
}
.app-reulst-box .app-result-inner .app-result .app-box .btn-wrap button {
  border: 2px solid #e40a41;
  outline: none;
  background-color: #fff;
  color: #e40a41;
  width: 100px;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}
.app-reulst-box .app-result-inner .app-result .app-box .btn-wrap button:last-child {
  border: 2px solid #01852d;
  color: #01852d;
}
